{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add To-Do</title>

    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Add To-Do</h1>
        
        <!-- Form to add a new to-do item -->
        <form method="post" action="{% url 'todo_form' %}">
            {% csrf_token %}
            <div class="card">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn">Add To-Do</button>
        </form>
        
        <br>
        <a href="{% url 'todo_list' %}" class="btn">Back to To-Do List</a>
    </div>
</body>
</html>
